.list_Of_Items{
    margin-right: 18px;
    flex: 0.70;
    background-color: aliceblue;
    text-align: left;
    padding: 20px;
 
    
  }
.Ind_Product
{
  display: flex;
 
}
.ImageOfProduct
{ 
  width: 250px;
  height: 250px;
}

.ImageOfProduct img {
  object-fit: contain;
  width: 100%;
}

.iteamInfo
{
  flex-grow: 1;
  padding: 10px;
   
  
}

.typeOfGrocery
{
  color:darkgreen;
 
  
}

.StockOrNot
{
  color: blue;
}

.deleteBtn
{
  color: red;
  margin: 8px;
}

.option
{
  display: flex;


}

.number
{
  
  width:75px;
  
}

.opt{
  height: 35px;
  border-radius: 6px;
  color:black;
  font-size: 16px;

}

.opt:hover {
  background-color:lightgreen;
}
.Price{
  font-size: xx-large;
    
}