.total_blance{
    height: 200px;
    flex: 0.30;
    background-color: aliceblue;
   
  }
  .btn{
    background: black;
    font-style: oblique;
    color: white;
    height: 55px;
    font-size: 25px;
    border-radius: 9px;

  }
  .btn:hover{
   background-color:blue;
  }

  

  .Totalbalnce{
     margin-left: 8px;
  }