.list_Of_Items{
    margin-right: 18px;
    flex: 0.70;
    background-color: aliceblue;
    text-align: left;
    padding: 20px;
  }
.Ind_Product
{
  display: flex;
}
.ImageOfProduct
{ 
  width: 250px;
  height: 250px;
}

.ImageOfProduct img {
  object-fit: contain;
  width: 100%;
}

.iteamInfo
{
  flex-grow: 1;
  padding: 10px;
  
}

.typeOfGrocery
{
  color:darkgreen;
}

.StockOrNot
{
  color: blue;
}

.deleteBtn
{
  color: red;
}


